body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

h1{
    color: aqua;
}

#board {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    background-color: white;
}

.tile{
    color: azure;
    margin: 10px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .right-border{
    border-right: .2em solid white;
    
}
    
.bottom-border{
    border-bottom: .2em solid white;
        
} */